<html>
    <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Community Building</title>
    {% endif %}
    </head>
    <body>
        <nav class="navigation">
            <a href="/index">Home</a>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="validation-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock content %}

    </body>
</html>
